<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% if page.title %}{{ page.title }} – {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="{{ site.cdn }}bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site.cdn }}style.min.css">

    <!--Favicon Information-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.cdn }}favicon/apple-touch-icon.png?v=bOXjlPdAPj">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.cdn }}favicon/favicon-32x32.png?v=bOXjlPdAPj">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.cdn }}favicon/favicon-16x16.png?v=bOXjlPdAPj">
    <link rel="manifest" href="{{ site.cdn }}favicon/site.webmanifest?v=bOXjlPdAPj">
    <link rel="mask-icon" href="{{ site.cdn }}favicon/safari-pinned-tab.svg?v=bOXjlPdAPj" color="#f1c40f">
    <link rel="shortxcut icon" href="{{ site.cdn }}favicon/favicon.ico?v=bOXjlPdAPj">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="{{ site.cdn }}favicon/browserconfig.xml?v=bOXjlPdAPj">
    <meta name="theme-color" content="#ffffff">

    <!-- Primary Meta Tags -->
    <title>Bored In School Right Now - {{ page.title }}</title>
    <meta name="title" content="Bored In School Right Now - {{ page.title | default: "404" }}">
    <meta name="description" content="{{ page.description | default: site.description }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}/{{ page.folder | default: "404" }}/">
    <meta property="og:title" content="Bored In School Right Now - {{ page.title | default: "404" }}">
    <meta property="og:description" content="{{ page.description | default: site.description }}">
    <meta property="og:image" content="{{ '/images/' | append: page.image | absolute_url | default: "https://bored.pisaucer.com/images/logo.png" }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ site.url }}/{{ page.folder | default: "404" }}/">
    <meta property="twitter:title" content="Bored In School Right Now - {{ page.title | default: "404" }}">
    <meta property="twitter:description" content="{{ page.description | default: site.description }}">
    <meta property="twitter:image" content="{{ '/images/' | append: page.image | absolute_url | default: "https://bored.pisaucer.com/images/logo.png" }}">
</head>

<body>
    <div class="header">
        <a href="{{ "/" | absolute_url }}">
            <img src="{{ "/images/logo.png" | append: site.github.build_revision | relative_url }}" class="logo" alt="logo" height="42" width="42">
            <h1>Bored In School Right Now</h1>
        </a>
    </div>
    <hr>
    <h2>{{ page.title }}</h2>
    <hr>

    {% include breadcrumbs.html %}

    <hr>

    <br>

    <div class="content" style="margin-right: 50px;">
        {{ content }}
    </div>

    <br>

    {% if page.download %}
    <div style="margin-right: 50px; text-align: center;">
        {% assign cdn_url = site.cdn | append: "/" | append: page.folder | append: "/" | append: page.gamefile %}
        <a href="{{ cdn_url }}" download class="btn btn-outline-dark">Download</a>
    </div>
    {% endif %}

    <footer>
        <hr>
        <p>"Stay Bored My Dudes"</p>
        <p>VER {{ site.version }}</p>
        <p><strong>I DO NOT OWN THESE GAMES</strong></a></p>
        <p>*May Not Work At all schools</p>
        <p><a href="privacy.html">Privacy Policy</a></p>
    </footer>
    <script src="{{ site.cdn }}ruffle/ruffle.js"></script>
</body>

</html>