<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bored In School Right Now</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ site.cdn }}bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="{{ site.cdn }}bootstrap/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ site.cdn }}style.min.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q473F59QW1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-Q473F59QW1');
    </script>
    <meta name="google-site-verification" content="0zuWIkB3Ldo2MPpwfLTnPQ0Uk6xHb_khG_l5Jpj9d58" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--Favicon Information-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.cdn }}favicon/apple-touch-icon.png?v=bOXjlPdAPj">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.cdn }}favicon/favicon-32x32.png?v=bOXjlPdAPj">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.cdn }}favicon/favicon-16x16.png?v=bOXjlPdAPj">
    <link rel="manifest" href="{{ site.cdn }}favicon/site.webmanifest?v=bOXjlPdAPj">
    <link rel="mask-icon" href="{{ site.cdn }}favicon/safari-pinned-tab.svg?v=bOXjlPdAPj" color="#f1c40f">
    <link rel="shortxcut icon" href="{{ site.cdn }}favicon/favicon.ico?v=bOXjlPdAPj">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="{{ site.cdn }}favicon/browserconfig.xml?v=bOXjlPdAPj">
    <meta name="theme-color" content="#ffffff">

    <!-- Primary Meta Tags -->
    <meta name="title" content="Bored In School Right Now">
    <meta name="description" content="Online Education Games">
    <meta name="keywords" content="Games,unblocked">
    <meta name="author" content="PiSaucer">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Bored In School Right Now">
    <meta property="og:description" content="Online Education Games">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Bored In School Right Now">
    <meta property="twitter:description" content="Online Education Games">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9625185952084057" crossorigin="anonymous"></script>
</head>

<body>    
    <br>
    <div class="alert alert-warning" role="alert" style="margin-right: 50px;">
        Currently rewriting the website, if you have issues please visit older version (v1) at <a href="https://bored.pisaucer.com/v1/" class="alert-link">bored.pisaucer.com/v1/</a>
    </div>
    <div class="header" style="margin-right: 50px;">
        <a href="./">
            <img src="images/logo.png" class="logo" alt="logo" height="42" width="42">
            <h1>Bored In School Right Now</h1>
        </a>
    </div>
    <hr>
    <hr>
    <div style="margin-right: 50px;">
    {{ content }}
    </div>
    <hr>
    <div class="Videos" style="margin-right: 50px;">
        <h2>Videos</h2>
        <ul>
            <li><a href="videos/starwars/">Star Wars HTML Video</a></li>
            <li><a href="https://www.schooltube.com/" target="_blank">School Tube<span class="material-icons">launch</span></a></li>
            <li><a href="https://vimeo.com/" target="_blank">Vimeo<span class="material-icons">launch</span></a></li>
        </ul>
    </div>
    <hr>
    <div class="MoreFunGameWebsites" style="margin-right: 50px;">
        <h2>More Fun Games Websites</h2>
        <ul>
            <li><a href="https://flashpointarchive.org/" target="_blank">Flash Point<span class="material-icons">launch</span></a></li>
            <li><a href="https://bored.pisaucer.com/v1/" target="_blank">Bored In School Right Now HTML_v1<span class="material-icons">launch</span></a></li>
            <li><a href="https://sites.google.com/view/boredinschoolrightnow/home" target="_blank">Bored In School Right Now New Google Sites Edition (deprecated)<span class="material-icons">launch</span></a></li>
            <li><a href="https://sites.google.com/site/subgfyfs/" target="_blank">Unblock Games For School!!!<span class="material-icons">launch</span></a></li>
            <li><a href="http://io-games.io/" target="_blank">.io games<span class="material-icons">launch</span></a></li>
            <li><a href="https://www.y8.com/" target="_blank">Y8*<span class="material-icons">launch</span></a></li>
            <li><a href="https://poki.com/" target="_blank">Poki*<span class="material-icons">launch</span></a></li>
            <li><a href="https://classicreload.com/" target="_blank">Classic Reload<span class="material-icons">launch</span></a></li>
            <li><a href="https://sites.google.com/site/unblockedgames4me/" target="_blank">Unblocked Games 66 at School<span class="material-icons">launch</span></a></li>
            <li><a href="https://archive.org/details/internetarcade" target="_blank">Internet Arcade<span class="material-icons">launch</span></a></li>
            <li><a href="http://emulator.online/" target="_blank">emulator.online<span class="material-icons">launch</span></a></li>
        </ul>
        <hr>
    </div>
    <div class="NotepadTricks" style="margin-right: 50px;">
        <h2><a href="notepad/">Notepad Tricks</a></h2>
        <h3>FOR PC ONLY!!!</h3>
        <ul>
            <li><a href="notepad/cdvirus/">CD virus</a></li>
            <li><a href="notepad/keyboarddancing/">Keyboard Dancing</a></li>
            <li><a href="notepad/matrixhack/">Matrix Hack</a></li>
            <li><a href="notepad/talkingcomputer/">The Talking Computer</a></li>
            <li><a href="notepad/passwordgenerator/">Password Generator</a></li>
            <li><a href="notepad/fakeerrormessage/">Fake Error Message</a></li>
            <li><a href="notepad/lockfolder/">A Folder lock with a password</a></li>
        </ul>
        <hr>
    </div>
    <div class="ChatRoom" style="margin-right: 50px;">
        <h2>Chat Rooms</h2>
        <ul>
            <li><a href="https://ptb.discord.com/" target="_blank">Discord (Public Test Build (PTB))<span class="material-icons">launch</span></a></li>
            <li><a href="https://discord.gg/7qTNdXd" target="_blank">Our Offical Discord Server<span class="material-icons">launch</span></a></li>
        </ul>
        <hr>
    </div>
    </div>
    <div class="Feedback" style="margin-right: 50px;">
        <h2>Feedback</h2>
        <ul>
            <li><a href="https://discord.gg/7qTNdXd" target="_blank">Offical Discord Server<span class="material-icons">launch</span></a></li>
            <li><a href="https://github.com/PiSaucer/boredhtml/issues" target="_blank">GitHub Issues<span class="material-icons">launch</span></a></li>
        </ul>
    </div>
    <div class="ver" style="margin-right: 50px;">
        <hr>
        <h2>Version Information</h2>
        <p><pre>VER {{ site.version }}</pre></p>
        <a href="https://github.com/PiSaucer/boredhtml" class="btn btn-outline-dark" target="_blank">Visit our Github</a>
        <a href="https://github.com/PiSaucer/boredhtml_v1/archive/master.zip" download class="btn btn-outline-dark">Download HTML Version</a>
        <a href="https://github.com/PiSaucer/boredhtml/archive/master.zip" download class="btn btn-outline-dark">Download</a>
    </div>
    {% include footer.html %}
</body>

</html>
